@model TempManager.Models.Temp

@{
    ViewData["Title"] = "Add";
}

<h2>Add temp</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Low"></label>
        <input asp-for="Low" class="form-control" />
        <span asp-validation-for="Low" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="High"></label>
        <input asp-for="High" class="form-control" />
        <span asp-validation-for="High" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}